@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @font-face {
    font-family: 'Almarai-Regular';
    src: url('@/assets/fonts/Almarai-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Almarai-Bold';
    src: url('@/assets/fonts/Almarai-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'MyriadPro-Regular';
    src: url('@/assets/fonts/MyriadPro-Regular.otf') format('opentype');
  }